$primary-color: '#000';
$secondary-color: '#fff';
$primary-font: "Montserrat", serif !important;

.logo-title {
    font-family: $primary-font;
    font-weight: 600 !important;
    font-size: 20px !important;
    letter-spacing: 2px !important;
}

