@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@keyframes blink{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loader-box{
    animation: blink 2s infinite; 
}